@model ViewModel<RecipesViewModel>
@{
    ViewData["Title"] = "Рецепты";
}

<partial name="_AdminNavPartial" />
<h1 class="display-4">@ViewData["Title"]</h1>
<partial name="_AdminFilter" model="@(new AdminFilterViewModel { Placeholder = "Поиск по названию, блюду, кухни и свойствам..." })" />
<partial name="_Table" model="Model.Data.GetTableViewModel(ViewData)" />
<partial name="_Paging" model="Model.Paging" />